:root{

      /* [PL1] FOUNDATIONS */
   
    --main-white--:#ede8f5;
    --white-blple--:#adbbda;
    --purpluish--:#8697c4;
    --bluis--:#7091e6;
    --mainblue--:#3d52a0;
    --gainsbro:#F5F5F5;
    --blue-white:#d0e3ec;
    --color-dark--blue: #363949;

    
    /* [PL2]Accueil1 */
    --acc-greena-:#61892f;
    --acc-greenb:#86c232;
    --acc-darka:#222629;
    --acc-darkb:#474b4f;
    --acc-darkc:#6b6e70;

     /* [PL3]MOON PHASE */
    --moon-phases-a:#212a31;
    --moon-phases-b:#2e3944;
    --moon-phases-c:#124e66;
    --moon-phases-d:#748d92;
    --moon-phases-e:#d3d9d4;


    /*[PLR4] HELLO */
    --hello-cyan-a:#66fcf1;
    --hello-cyan-b:#45a29e;
    --hello-dark-a:#0b0c10;
    --hello-dark-b:#000428;


    /* ASH 1 */

    --ash1-darka:#202a31;
    --ash1-darkb:#3a4852;
    --ash1-gray:#607685;
    --ash1-lgray:#819eb3;

    --ash2-darka:#203031;
    --ash2-darkb:#3a5152;
    --ash2-gray:#608385;
    --ash2-lgrgray:#81b1b3;

    --ash3-dark-purp:#302031;
    --ash3-pastel-purp:#483a52;
    --ash3-purp:#746085;
    --ash3-9d81b3:#9d81b3;

  

    /*[PAL1] PALLETA BLUE */
    --pal1-whitea:#fffbfc;
    --pal1-whiteb:#dce1e7;
    --pal1-bluea:#4a78a6;
    --pal1-bluec:#1b2232;



     /* [PAL2] PALLETA GREEN */
    --pal2-whitea:#e8e9e4;
    --pal2-whiteb:#e8e9e4;
    --pal2-greena:#a6bd84;
    --pal2-greenb:#006400;


    /* [PAL3] PALLETA BLACK ORANGE*/
    --pal4-darka: #191919;
    --pal4-darkb:#2a2c2b;
    --pal4-darkc:#131313;
    --pal4-orange:#feda87;


  
    /* [PLR5] PALLETA BLUE GREEN*/
    --pal5-bgreen: #00fe9b;
    --pal5-dark:#00041f;
    --pal5-blue: #6765e0;
    --pa5-white:#f7f7ff;

       /* [PLR5] PALLETA RED BLUE*/
    --pal7-dark: #030b18;
    --pal7-white:#f5eae4;
    --pal7-red: #fe0032;
    --pal7-dark_blue:#313e60;



    /* [PLR8] PALLETA BLACK ORANGE*/
    --pal8-browna: #e6cbb8;
    --pal8-brownb:#5f5554;
    --pal8-dark3:#fbf0f6;
    --pal8-orange:#761a02;




    /* /* WHITES  */
    --wf5-:#702d2d;
    --pure_white--: #fff;


    
    /* DARK MODE PALLETE */
    --metal-dark1:#232222;
    --metal-dark2:#3f4040;
    --metal-dark3:#222222;
    --metal-dark4:#87888a;
    --metal-dark5:#1b1b1b1b;


    /* GRAYS */
    --gray_1--:gray;
    --color-jk-dark:#212A31;
    --color-jk-dgray:#f6fbff;



    
    
    /* SIGNS */
    --color-danger: #ff7782;
    --color-danger-b: rgb(232, 162, 168);
    --color-danger-c:rgb(231, 214, 216);
    --color-success_a: #41f153;
    --color-success_b: #64e4b9;
    --color-warning: #ffbb55;





    /* DARK */
    --dark-variant: #2c2f31;
    --dark-variantb: rgb(53,53,53);
    --color-dark-blue:#1f2833;
    



    /* SHADOWS */
    --shad-alpha: rgba(53,53,53,0.5);
    --shad-alpha-b: rgba(53,53,53,0.4);
    --shad-alpha-c: rgba(53,53,53,0.3);
    --shad-alpha-d: rgba(53,53,53,0.2);
    --shad-alpha-e: rgba(53,53,53,0.1);
    
    --shad-dark: rgb(0,0,0);
    --shad-dark-b: rgba(0,0,0,0.5);
    --shad-dark-c: rgba(0,0,0,0.4);
    --shad-dark-e: rgba(0,0,0,0.3);
    --shad-dark-f: rgba(0,0,0,0.2);


    /* 1.618  */
    --fns-default-down-2:0.618rem;
    --fns-down-1:0.8rem;
    --fns-default:1rem;
    --fns-up2:1.3rem;
    --fns-default-up3:1.618rem;
    --fns-up4:2.1rem;
    --fns-default-up4:2.617rem;
    --fns-default-up6:4.23rem;


}