:root{


    /* [PL1] FOUNDATIONS */
    --main-white--: hsl(258, 44%, 93%);
    --white-blple--: hsl(221, 32%, 77%);
    --purpluish--: hsl(225, 25%, 65%);
    --bluis--: hsl(220, 74%, 62%);
    --mainblue--: hsl(225, 46%, 44%);
    --gainsbro: hsl(0, 0%, 96%);
    --blue-white: hsl(195, 44%, 86%);
    --color-dark--blue: hsl(225, 15%, 25%);

    /* [PL2]Accueil1 */
    --acc-greena-: hsl(84, 39%, 37%);
    --acc-greenb: hsl(82, 56%, 47%);
    --acc-darka: hsl(165, 9%, 15%);
    --acc-darkb: hsl(180, 3%, 29%);
    --acc-darkc: hsl(180, 2%, 43%);

    /* [PL3]MOON PHASE */
    --moon-phases-a: hsl(204, 19%, 15%);
    --moon-phases-b: hsl(210, 19%, 22%);
    --moon-phases-c: hsl(197, 65%, 24%);
    --moon-phases-d: hsl(192, 11%, 52%);
    --moon-phases-e: hsl(120, 13%, 85%);

    /*[PLR4] HELLO */
    --hello-cyan-a: hsl(174, 89%, 69%);
    --hello-cyan-b: hsl(174, 40%, 44%);
    --hello-dark-a: hsl(210, 7%, 5%);
    --hello-dark-b: hsl(225, 100%, 13%);

   /* [PLR5] TASTE */
   --taste-purple-a: hsl(255, 17%, 19%);
   --taste-purple-b: hsl(246, 11%, 32%);
   --taste-purple-c: hsl(259, 16%, 37%);
   --taste-purple-d: hsl(282, 62%, 39%);
   --taste-white: hsl(220, 22%, 85%);

   /* [PLR6] SNOW A */
   --snow-blue-b:hsl(218, 39%, 76%);
   --snow-blue-a:hsl(217, 36%, 40%);
   --snow-blue-c:hsl(212, 65%, 89%);
   --snow-white-a:hsl(0, 0%, 100%);

    /* ASH 1 */
    --ash1-darka: hsl(204, 21%, 15%);
    --ash1-darkb: hsl(204, 18%, 27%);
    --ash1-gray: hsl(204, 16%, 45%);
    --ash1-lgray: hsl(204, 26%, 60%);

   /* ASH 2 */
    --ash2-darka: hsl(178, 21%, 15%);
    --ash2-darkb: hsl(178, 18%, 27%);
    --ash2-gray: hsl(178, 16%, 45%);
    --ash2-lgrgray: hsl(178, 26%, 60%);

    /* ASH 3 */
    --ash3-dark-purp: hsl(300, 21%, 15%);
    --ash3-pastel-purp: hsl(282, 18%, 27%);
    --ash3-purp: hsl(270, 16%, 45%);
    --ash3-9d81b3: hsl(270, 29%, 61%);

    /*[PAL1] PALLETA BLUE */
    --pal1-whitea: hsl(345, 100%, 99%);
    --pal1-whiteb: hsl(217, 22%, 89%);
    --pal1-bluea: hsl(215, 39%, 46%);
    --pal1-bluec: hsl(225, 27%, 15%);

     /* [PAL2] PALLETA GREEN */
    --pal2-whitea: hsl(60, 7%, 91%);
    --pal2-whiteb: hsl(60, 7%, 91%);
    --pal2-greena: hsl(82, 30%, 62%);
    --pal2-greenb: hsl(120, 100%, 20%);

    /* [PAL3] PALLETA BLACK ORANGE*/
    --pal4-darka: hsl(0, 0%, 10%);
    --pal4-darkb: hsl(120, 2%, 17%);
    --pal4-darkc: hsl(0, 0%, 7%);
    --pal4-orange: hsl(41, 98%, 76%);

    /* [PLR5] PALLETA BLUE GREEN*/
    --pal5-bgreen: hsl(160, 100%, 50%);
    --pal5-dark: hsl(240, 100%, 6%);
    --pal5-blue: hsl(239, 66%, 63%);
    --pa5-white: hsl(240, 100%, 98%);

    /* [PLR5] PALLETA RED BLUE*/
    --pal7-dark: hsl(220, 73%, 5%);
    --pal7-white: hsl(24, 56%, 94%);
    --pal7-red: hsl(348, 100%, 50%);
    --pal7-dark_blue: hsl(222, 32%, 28%);

    
    /* [PLR8] PALLETA BLACK ORANGE*/
    --pal8-browna: hsl(26, 46%, 80%);
    --pal8-brownb: hsl(12, 7%, 34%);
    --pal8-dark3: hsl(320, 56%, 97%);
    --pal8-orange: hsl(13, 97%, 24%);

    /* WHITES */
    --wf5-: hsl(0, 44%, 29%);
    --pure_white--: hsl(0, 0%, 100%);



    /* DARK MODE PALLETE */
    --metal-dark1: hsl(0, 2%, 14%);
    --metal-dark2: hsl(0, 1%, 25%);
    --metal-dark3: hsl(0, 0%, 13%);
    --metal-dark4: hsl(240, 2%, 53%);
    --metal-dark5: hsl(0, 0%, 7%);

    /* GRAYS */
    --gray_1--: hsl(0, 0%, 50%);
    --color-jk-dark: hsl(204, 19%, 15%);
    --color-jk-dgray: hsl(210, 100%, 99%);

    /* DARK */
    --dark-variant: hsl(220, 7%, 19%);
    --dark-variantb: hsl(0, 0%, 21%);
    --color-dark-blue: hsl(210, 29%, 15%);









    /* SHADOWS */
    --shad-alpha: rgba(53,53,53,0.5);
    --shad-alpha-b: rgba(53,53,53,0.4);
    --shad-alpha-c: rgba(53,53,53,0.3);
    --shad-alpha-d: rgba(53,53,53,0.2);
    --shad-alpha-e: rgba(53,53,53,0.1);
    
    --shad-dark: rgb(0,0,0);

    --shad-dark-b: rgba(0,0,0,0.7);
    --shad-dark-c: rgba(0,0,0,0.6);
    --shad-dark-d: rgba(0,0,0,0.5);
    --shad-dark-e: rgba(0,0,0,0.4);
    --shad-dark-f: rgba(0,0,0,0.3);
    --shad-dark-g: rgba(0,0,0,0.2);
    --shad-dark-h: rgba(0,0,0,0.1);

    /* 1.618  */
    --fns-default-down-0-6:0.618rem;
    --fns-down-1:0.8rem;
    --fns-default-1:1rem;
    --fns-up2:1.3rem;
    --fns-default-up1-6:1.618rem;
    --fns-up4:2.1rem;
    --fns-default-up2-6:2.617rem;
    --fns-default-up4-2:4.23rem;
    --fns-default-up-6-8:6.84rem;

}

