
:root{

   /* [PL1] FOUNDATIONS */

    --main-white--:#ede8f5;
    --white-blple--:#adbbda;
    --purpluish--:#8697c4;
    --bluis--:#7091e6;
    --mainblue--:#3d52a0;
    --gainsbro:#F5F5F5;
    --blue-white:#d0e3ec;
    --color-dark--blue: #363949;


    
    /* DARK MODE PALLETE */
    --metal-dark1:#232222;
    --metal-dark2:#3f4040;
    --metal-dark3:#222222;
    --metal-dark4:#87888a;
    --metal-dark5:#1b1b1b1b;


    
    /* SHADOWS */
    --shad-alpha: rgba(53,53,53,0.5);
    --shad-alpha-b: rgba(53,53,53,0.4);
    --shad-alpha-c: rgba(53,53,53,0.3);
    --shad-alpha-d: rgba(53,53,53,0.2);
    --shad-alpha-e: rgba(53,53,53,0.1);
    
   --shad-dark-b: rgba(0,0,0,0.7);
    --shad-dark-c: rgba(0,0,0,0.6);
    --shad-dark-d: rgba(0,0,0,0.5);
    --shad-dark-e: rgba(0,0,0,0.4);
    --shad-dark-f: rgba(0,0,0,0.3);
    --shad-dark-g: rgba(0,0,0,0.2);
    --shad-dark-h: rgba(0,0,0,0.1);



    /* 1.618  */
    --fns-default-down-0-6:0.618rem;
    --fns-down-1:0.8rem;
    --fns-default-1:1rem;
    --fns-up2:1.3rem;
    --fns-default-up1-6:1.618rem;
    --fns-up4:2.1rem;
    --fns-default-up2-6:2.617rem;
    --fns-default-up4-2:4.23rem;
    --fns-default-up-6-8:6.84rem;


}

@font-face {
   font-family: "Poppins";
   src: url("Fonts/Sans_Serif/Poppins-Regular.ttf");
}






*{
   padding: 0;
   margin: 0;
   font-family: "Poppins";
   color: var(--main-white--);
}

body{
   overflow-x: hidden;
    background-color: var(--metal-dark5);
}

body::-webkit-scrollbar{
    background-color: var(--metal-dark1);
}
body::-webkit-scrollbar-thumb{
    background-color: var(--metal-dark2);
    border-radius: 8px;
    border: 2px solid var(--metal-dark1);
}





.wrapper{
   display: grid;
   grid-template-columns: 8fr 2fr;
   grid-template-rows: 0.5fr 9.5fr;
   height: 150vh;
   width: 100vw;

   background: linear-gradient(45deg,var(--metal-dark1),var(--metal-dark2));

   gap: 1rem;
}


      .font_menu{
         display: flex;
         align-items: start;
         justify-content: start;
         grid-area: 1/ 1/1 / 3;
         margin: 1rem 1rem 1rem 0.5rem;
         border-radius: 8px;
      
      }

         .font_menu .font_title_frame{
           display: flex;
           align-items: center;
           justify-content:center;
            height: 100%;
            width: 100%;
         }
           



        .font_frames{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background-color: var(--metal-dark5);
            border-radius: 8px;
            box-shadow: 10px 10px 5px 2px var(--shad-dark-c);
            background-color: var(--metal-dark5);
        }

         .font_frames.san_serif_frame{
            display: flex;
            align-items: start;
            justify-content: start;
            text-align: start;
         
        }
        

        
         .fn-up-6_8{
            font-size: var(--fns-default-up-6-8);
         }
         .fn-up-4_2{
            font-size: var(--fns-default-up4-2);
         }
         .fn-up-2_6{
            font-size: var(--fns-default-up2-6);
         }
         .fn-up-1_6{
            font-size: var(--fns-default-up1-6);
         }
         .fn-1{
            font-size: var(--fns-default-1);
         }
         .fn-down-0_6{
            font-size: var(--fns-default-down-0-6);
         }
         
         .font_frames.font_sidebar_frame{
            display: flex;
            align-items: center;
            justify-content: start;   
            margin-right: 2rem;
            overflow-y: auto;
            background-color: var(--metal-dark5);
         }

            .add_font_frame{
           
               display: flex;
               align-items: center;
               justify-content: center;   
               margin: 1rem;
               border-radius: 5px;
               background-color: var(--metal-dark2);
               width: 85%;
            }
               .add_font_frame input{
                  display: none; 
               }
               .custom-file-label {
                  margin: 1rem 0.5rem;
                  padding: 0.5rem 1rem;
                  border-radius: 5px;
                  cursor: pointer;   
                  transition: 0.2s;
                  font-size: var(--fns-down-1);
                  background-color: var(--metal-dark4);
               }
               .custom-file-label:hover {
                  box-shadow: 5px 5px 10px 2px var(--shad-dark-f);
               }

         .font_dropdown_frame{
          
            height: 90%;
            width: 85%;
            display: flex;
            align-items: center;
            justify-content: start;
            flex-direction: column;
            overflow-y:auto;
         }

            .font_dropdown_frame button{
               border: none;
               width: 100%;
               padding: 0.2rem 1rem;
               border-radius: 5px;
               cursor: pointer;   
               transition: 0.2s;
               background-color: var(--white-blple--);
               margin-top: 2rem;
            }

            
